<h4>ติดต่อเรา</h4>
<hr />

<div class="row">
    <div class="col-6">
        <h4> แผนที่ </h4>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25622219.293511238!2d-6.698859243697997!3d-38.37877609300626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34674e0fd77f192f%3A0xf54275d47c665244!2z4LiN4Li14LmI4Lib4Li44LmI4LiZ!5e0!3m2!1sth!2sth!4v1724744061885!5m2!1sth!2sth"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    
    <div class="col-6">
        <div class="row">
            <div class="col-3">
                <h4> ที่ตั้งร้าน </h4>
                <hr/>
            </div>
                <p> Kitayama, ฟุจิโนะมิยะ จังหวัดชิซุโอะกะ 418-0112 ญี่ปุ่น</p>
            

            <div class="row">
                <div class="col-6">
                    <h4> เบอร์โทรติดต่อ </h4>
                    <hr />
                    <div class="row">
                        <div class="col-6">
                            <p> 099-9999999</p>
                        </div>
                    </div>
            </div>
        </div>

        <h4 class = "mt-4">social-media</h4>
        <hr>
        <i class="bi bi-facebook"> : Bhanjoonta-Restaurant </i>
        <i class="bi bi-line"> : ร้านอาหารบ้านจุนตา</i>
        <i class="bi bi-instagram"> : Bhanjoonta_res</i>
           

            
