.col{
    width: 300px;
    height: 281px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.row {
    align-items: center;
}

button{
    size: 10px;
    width: 100px;
    
}

.card{
    width: 260px;
    border-color: #4e0b29;
    border-radius: 5px;
}

.card-body{
    color:#FACE7F;
    background-color: #4e0b29;
}

